<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>869385002357-0vlq6ko6o1o93k6kmtlggt7t6vlc9ac2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.869385002357-0vlq6ko6o1o93k6kmtlggt7t6vlc9ac2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>869385002357-vcgg5dv4cfllldj3f38p0emukia67e8s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC877oukxE5m0Bza5p0Zn89lsPL2JUhgcI</string>
	<key>GCM_SENDER_ID</key>
	<string>869385002357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>come.martin.cambobase.martinApp</string>
	<key>PROJECT_ID</key>
	<string>kofitest</string>
	<key>STORAGE_BUCKET</key>
	<string>kofitest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:869385002357:ios:7b9b16855a2b355006873c</string>
</dict>
</plist>